[Unit]
Description=BT Scanner Supervisor (SAR)
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/btscanner-supervisor
ExecStart=/usr/bin/env python3 /home/grpck/sar_bt_scan/sar_bt_scan/supervisor.py
WorkingDirectory=/home/grpck/sar_bt_scan/sar_bt_scan
User=root
Group=root
Restart=always
RestartSec=3
Nice=5


[Install]
WantedBy=multi-user.target
